.team-description{
    color: white;
    background: #000080;
    height: 194px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 10px;
    margin-top: -82px;
    z-index: 1;
}
.team-description h3{
    color: white;
}
.team-description p{
    color: white !important;
}
.social-links-team{
    display: flex;
    gap: 12px;
}
.social-links-team a i{
    color: #cccccc;
    width: 33px;
    height: 33px;
    border: 1px solid;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links-team a:hover i{
    color: white;
    border-color: white;
}
.sucess-story-img img{
    width: 100%;
}



.carousel-sucess-story-people {
    display: flex;
    align-items: center;
    width: 100%;
    /* max-width: 800px; */
    overflow: hidden;
    position: relative;
    margin-top: 3rem;
}

.carousel-sucess-story-people .carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel-sucess-story-people .carousel-cards {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-sucess-story-people .card {
    flex: 0 0 33.33%; 
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 21px;
    margin: 0 7px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    transition: 0.3 ease-in-out;
    display: flex;
    flex-direction: column;
    /* height: 382px; */
}
.sucess-man-img img{
    width: 100%;
    /* border: 1px solid #d3d3d3; */
}
@media screen and (max-width:900px) {
    .carousel-sucess-story-people .card {
        flex: 0 0 50%; 
        max-width: 50%;
    } 
}
@media screen and (max-width:500px) {
    .carousel-sucess-story-people .card {
        flex: 0 0 100%; 
        max-width: 100%;
    } 
}
.carousel-sucess-story-people button.prev,.carousel-sucess-story-people button.next {
    background-color: #000080;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 20px;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-sucess-story-people button.prev {
    left: 0;
}

.carousel-sucess-story-people button.next {
    right: 0;
}
.sucess-man-description{
    color: white;
    background: #000080;
    height: 87px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 10px;
    /* margin-top: -82px; */
    z-index: 1;
    transform: translateY(0); /* Initial position */
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}
.sucess-man-description h3{
    color: white;
}
.sucess-man-description p{
    color: white !important;
}
.top-part-sucess-card{
    display: flex;
    background: #000080;
    color: #adadad !important;
    margin-bottom: 0px !important;
    height: 35px;
    justify-content: center;
    align-items: center;
}
.call-to-action p {
    color: #bebebe;
    font-weight: 300;
}

.home-video  {
    width: 100%; /* Make the video take up 100% of the container's width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra space below the video */
    max-width: 100%; /* Ensure it doesn't exceed the width of the parent container */
}
.hero-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-home .image-left{
    width: 50%;
}
.hero-home .video-left{
    width: 50%;
}
.hero-home .image-left img{
    width: 100%;
}
.main{
    margin-top: 90px;
}
.header{
    background-color: rgba(14, 29, 52, 0.9) !important;
}
.hero{
    height: 100vh;
}
.services .card .card-img img {
    transition: 10000s ease-in-out;
    height: 312px;
    object-fit: cover;
    width: 100%;
}
.witness-map{
    width: 50%;
}
.witness-map img{
    width:100%;
}
.witness-graph{
    display: flex;

}
.all-area-of-witness{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
.defence-roles{
   
}
.defence-roles h5 {
    color: #d8cece !important;
    font-weight: 700;

}
.defence-area{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background: #555577;
    padding: 25px;
    color: #ffffff;
    border-radius: 5px;
    gap: 5px;
    justify-content: space-between;
}
.defence-area-img i{
    font-size: 31px;
    color: #9594a5;
}

@media screen and (max-width:900px) {
  .witness-graph{
    flex-direction: column-reverse;
  }  
  .witness-map{
    width: 100%;
  }
  .all-area-of-witness{
    width: 100%;
  }
}

.number-changer-achievement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 37px;
    /* width: 80%; */
    margin: 0 auto;
    margin-top: -50px;
}

.number-changer-achievement .card {
    background-color: #354e82;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 145px;
}

.number-changer-achievement .number {
    font-size: 2em;
    color: #ededed;
    margin-bottom: 10px;
    font-weight: 700;
}

.number-changer-achievement p {
    font-size: 1em;
    color: #b4b4b4;
    text-align: center;
}
@media screen and (max-width:500px) {
    .number-changer-achievement .card {
     width: 100%;   
    }
    .number-changer-achievement {
       
        gap: 10px;
    }
}

.page-name{
    position: absolute;
    top: 198px;
    background: #6c68b3;
    color: white;
    z-index: 2;
    /* width: 100%; */
    left: 32px;
}
.sucess-man-description p{
    text-align: center;
}
.mansa-vacha h5{
    font-weight: 700;
}
.masa-vacha-quote {
    /* font-size: 24px;
    font-weight: bold; */
    display: inline-block;
    text-align: justify;
    font-weight: 500;
  }
  
  .masa-vacha-quote span {
    opacity: 0;
    display: inline-block;
    transition: color 0.5s ease, opacity 0.5s ease;
  }
  
  .color1 { color: red; }
  .color2 { color: green; }
  .color3 { color: blue; }
  .color4 { color: purple; }
  .color5 { color: orange; }
  .color6 { color: teal; }
  .color7 { color: gold; }
  
  /* Ensures spaces are visible */
  .masa-vacha-quote span.space {
    width: 10px; /* Adjust space width as needed */
  }
  
  .ytb-index-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width * 100) */
    height: 0;
    overflow: hidden;
}

.ytb-index-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.witness-para-background-add{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
.witness-para-h{
    width: 50%;
}
.added-ytb{
    width: 50%;
}
@media screen and (max-width:900px) {
    .witness-para-background-add{
      flex-direction: column;  
        
    }
    .witness-para-h{
        width: 100%;
    }
    .added-ytb{
        width: 100%;
    }
}
.service-selection-container-navy{
    margin-top: 5px;
    margin-bottom: -20px;
}