.hero{
    height: 60vh;
  }
  .pod-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    text-align: center;
  }


 .ytb-courses .courses-section {
    max-width: 1200px;
    width: 100%;
}

.ytb-courses .section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.ytb-courses .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.ytb-courses .course-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #000080;
}

.ytb-courses .course-card:hover {
    transform: scale(1.05);
}

.ytb-courses .course-card iframe {
    width: 100%;
    height: 200px;
    border: none;
}

.ytb-courses .course-description {
    padding: 15px;
    font-size: 1rem;
  color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .ytb-courses  .course-card iframe {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .ytb-courses  .section-title {
        font-size: 2rem;
    }

    .ytb-courses   .course-card iframe {
        height: 150px;
    }

    .ytb-courses    .course-description {
        font-size: 0.9rem;
    }
}
.podcast-img-nkc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: -56px;
}
.image-div-pod{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.pod-description{
    box-shadow: 0px 0px 10px rgb(21 46 255 / 10%);
    padding: 24px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 18px;

}
.image-div-pod img{
    /* width: 50%; */
    width:200px;
}
.pod-step-1{
    color: red;
}
.main-section {
    background-color: #000080;
    color: white !important;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: -63px;
    transition: transform 0.3s ease;
    margin-top: 28px;
}

.main-section:hover {
    transform: translateY(-5px);
}

h1 {
    font-size: 2rem;
    color: #1e88e5;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.bullet-list {
    list-style-type: disc;
    padding-left: 40px;
    font-size: 15px;
    color: #c8c8e1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    width: 100%;
    flex-wrap: wrap;
    overflow-wrap: initial;
    padding-top: 10px;

}

.bullet-list li {
    margin-bottom: 10px;
}

.bullet-list li::marker {
    /* color: #1e88e5; */
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .main-section {
        padding: 20px;
    }

    .bullet-list {
        font-size: 1rem;
    }
}
@media (max-width: 950px) {
    .podcast-img-nkc {
flex-direction: column;
margin-top: -61px;
    }

}