.hero{
    height: 60vh;
}
.selection-method {
    display: flex;
    gap: 20px;
}

.all-selections {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 12px;
}

.selection-img img {
    width: 100%;
    /* border-radius: 50%; */
}

.selection-img {
    width: 50%;
}

@media screen and (max-width:900px) {
    .selection-method {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .selection-img {
        width: 100%;
    }

    .all-selections {
        width: 100%;
    }
}
.gtc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}
.gtc-name{
    display: flex;
    padding: 9px;
    border: 1px solid #cfcfd3;
    width: 100%;
    border-radius: 4px;
    /* justify-content: center; */
    align-items: center;
    background: #90adda;
    color: #d5d5d5;
    font-weight: 500;
    max-width: 372px;
    background: #000080;
}

.tsb-title p{
    text-align: center;
}

.tsb-all {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: flex-start;
}

.tsb-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.33% - 13px); /* For 3 cards per row */
    /* max-width: 302px; */
    border: 1px solid #c2bcbc;
    padding: 20px;
    background: #e9e9e9;
    /* height: 308px; */
}

/* Media query for 2 cards per row */
@media (max-width: 900px) {
    .tsb-card {
        flex-basis: calc(50% - 13px); /* For 2 cards per row */
    }
}

/* Media query for 1 card per row */
@media (max-width: 600px) {
    .tsb-card {
        flex-basis: 100%; /* For 1 card per row */
    }
}
